// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

@import url('https://fonts.googleapis.com/css2?family=Changa');
// Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul , li {
    list-style: none;
}


html , body {
    height: 100%;
    position: relative;
}

main {
    height: 100%;
    font-family: 'Ubuntu' , sans-serif;
}

#app {
    height: 100%;
    overflow: hidden;
}


.icon{
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &--success {
        color: rgb(53, 136, 53);
    }
    &--primary {
        color: rgb(19, 91, 185);

    }
    &--toggle {
        color: white;
    }
    &--power {
        color: rgb(231, 66, 66);
        
    }
    &--warning {
        color: rgb(212, 181, 41);
        
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(29,38,45,0.5);
    .icon--close {
        position: absolute;
        margin: 5rem;
        top: 0 ;
        right : 0 ;
    }
    .content {
        background-color: rgb(224, 224, 224);
        width: 30rem;
        height: 40rem;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 0 0 1px 0 rgb(224, 224, 224);
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.form {
    .inline {
        margin: 1rem 0 ;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .group {
            margin-top: 0 ;
            margin-bottom: 0 ;
        }
        .group:not(:first-child) {
            margin-left : 1rem;
        }
        .group:not(:last-child) {
            margin-right : 1rem;
        }
    }
    .group {
        width: 100%;
        margin: 1rem auto;
        .control {
            border: none;
            outline: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            box-shadow: 0 0 1px 0px rgb(224, 224, 224);
            width: 100%;
        }
    }
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.9;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    &--success {
        background-color: rgb(53, 136, 53);
        color: white;
    }
    &--primary {
        background-color: rgb(19, 91, 185);
        color: white;

    }
    &--white {
        background-color: white;
        color: black;

    }
    &--power {
        background-color: rgb(231, 66, 66);
        color: white;

    }
    &--warning {
        background-color: rgb(212, 181, 41);
        color: black;

    }
    &--lg {
        font-size: 1.1rem;
        
    }
    &--sm {
        font-size: 0.8rem;
    }
    &--xl {
        font-size: 1.4rem;
    }
}
.btn:hover{
    opacity: 1;
    
}
.btn:active {
    transform: translate(1px ,1px);
}
.icon:hover{
    opacity: 1;
    transform: scale(1.02);
    
}
.icon:active {
    transform: translate(1px ,1px);
}